<template id="card">
  <div class="card">
    <div class="card__img box">
      <img src="" alt="project">
    </div>

    <div class="card__text box">
      <h3 class="card__title">Name project</h3>
      <p class="card__subtitle">Описание проекта</p>
      <p class="card__description">Text</p>
      <div class="card__links">
        <a class="card__link code" href="#" target="_blank">Исходный
          код</a>
        <a class="card__link project" href="#" target="_blank">Посмотреть
          проект</a>
      </div>
    </div>
  </div>
</template>