<div class="projects__item card">
  <div class="projects__item-model card__img">
    <img src="/src/img/images/projects/Borodinski.webp" alt="Image project">
  </div>

  <div class="projects__item-text card__text">
    <h3 class="projects__title projects__title--index card__title">Cards Gallery</h3>
    <p class="projects__description-title card__subtitle">Описание проекта</p>
    <p class="projects__description-text card__description">
      Это красивая карточная галерея для просмотра фотографий. По нажатию
      реализуется показ картинки.
      Технологии - html, css, js. Логика реализована на чистом JavaScript.
      Адаптация под все типы экранов.
    </p>
    <div class="card__links">
      <a class="card__link"
        href="https://github.com/Eugene-gif/Cards_gallery"
        target="_blank">Исходный
        код</a>
      <a class="card__link"
        href="https://eugene-gif.github.io/Cards_gallery/"
        target="_blank">Посмотреть
        проект</a>
    </div>
  </div>
</div>