<div class="card">
  <div class="card__img box">
    <img src="/src/img/images/projects/Borodinski.webp" alt="Image project">
  </div>

  <div class="card__text box">
    <h3 class="card__title">Cards Gallery</h3>
    <p class="card__subtitle">Описание проекта</p>
    <p class="card__description">
      Это красивая карточная галерея для просмотра фотографий. По нажатию
      реализуется показ картинки.
      Технологии - html, css, js. Логика реализована на чистом JavaScript.
      Адаптация под все типы экранов.
    </p>
    <div class="card__links">
      <a class="card__link" href="#" target="_blank">Исходный
        код</a>
      <a class="card__link" href="#" target="_blank">Посмотреть
        проект</a>
    </div>
  </div>
</div>