.page {
  margin-bottom: 40px;

  &__btn {
    @extend .card__link;
    display: block;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    max-width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 38px;

    @media(min-width: 600px) {
      max-width: 350px;
      font-size: 42px;
    }
  }
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 60px;

  .card:nth-child(2n) {
    --border-color: #b9f6ca;
  }
  
  .card:nth-child(3n) {
    --border-color: #8c9eff;
  }
  .card:nth-child(4n) {
    --border-color: #ffff8d;
  }
  
  .card:nth-child(5n) {
    --border-color: #ff80ab;
  }
  
  .card:nth-child(6n) {
    --border-color: #a7ffeb;
  }
  
  .card:nth-child(7n) {
    --border-color: #ffd180;
  }
  
  .card:nth-child(8n) {
    --border-color: #80d8ff;
  }

  .card:nth-child(9n) {
    --border-color: #b388ff;
  }


  @media(min-width: 725px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 20px;
  }

  @media(min-width: 1000px) {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .card:nth-child(2n) {
      flex-direction: row-reverse;

      .card__title,
      .card__subtitle,
      .card__description {
        text-align: right;
      }

      .card__links {
        flex-direction: row-reverse;
      }
    }
  }
}

@import '@/pages/home/_home.scss';
@import '@/pages/catalog/_catalog.scss';
@import '@/pages/contacts/_contacts.scss';