<header class="header">
  <div class="container">
    <div class="header__content">

      <div class="header__logo">
        <img src="/src/assets/images/logo.png" alt="logo">
      </div>

      <div class="header__box">

        <div class="header__menu-btn">
          <load="/src/components/MenuBtn/menu-btn.html" />
        </div>
      </div>

      <nav class="nav">
        <div class="nav__box">
          <div class="header__theme-btn">
            <load="/src/components/ThemeBtn/theme-btn.html" />
          </div>
        </div>

        <ul class="nav__list">
          <li class="nav__item _active">
            <a href="#home" data-link="home">
              Главная
            </a>
          </li>

          <li class="nav__item">
            <a href="#catalog" data-link="catalog">
              Мои работы
            </a>
          </li>

          <li class="nav__item">
            <a href="#contacts" data-link="contacts">
              Контакты
            </a>
          </li>
        </ul>
      </nav>

      <div class="overlay"></div>
    </div>
  </div>
</header>