:root {
  // _____ Vars _____
  --header: 64px;

  //_____ Colors _____
  --bg: #15665d;
  --bg-text: #ffffe0d6;
  --bg-text1: #afdfac;
  --bg-text2: #a7db98;
  --active: #d0ce43;
  --border-color: #f8d0d0;
}